body{
    background:url(img/1.png) ;
}

.fab {
    font-size: 3rem;

}
.items {
    aspect-ratio: 1/1;
    display: flex;
}
.hide>i {
    display: none !important;

}
.disabled {
    pointer-events: none;

}
.box-item {
    border: 1px solid black;
    border-radius: 50%;
    background-image: linear-gradient(rgba(99, 135, 255, 0.288) ,rgba(255, 255, 255, 0.288) , rgba(65, 52, 253, 0.548)) !important;
}
