body{
    background:url(img/1.png) ;
}

.fab {
    font-size: 3rem;

}
.items {
    aspect-ratio: 1/1;
    display: flex;
}
.hide>i {
    display: none !important;

}
.disabled {
    pointer-events: none;

}
.border {
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.247) !important;
}
